.move {
    margin: 20px auto;
    width: 50%;
}

.randomizer .mat-card-content,
.branch .mat-card-content {
    display: flex;
}

.branch .mat-card {
    width: 50%;
}

.randomizer .mat-card {
    width: 40%;
}