<md-card (mouseover)="mouseover()" 
         (mouseleave)="mouseleave()"
         [@stateA]="state">
  <md-card-subtitle>Trigger</md-card-subtitle>
  <md-card-content [innerHTML]="data.text|MarkdownToHtml"></md-card-content>
  <md-input-container *ngIf="state=='edit'">
    <textarea mdInput [(ngModel)]="data.text"></textarea>
  </md-input-container>
  <md-card-actions>
    <button md-button 
            *ngIf="state=='hover'"
            (click)="edit()">Edit</button>
    <button md-button 
            *ngIf="state=='edit'"
            (click)="save()">Save</button>
  </md-card-actions>
</md-card>
